/*=== 1158 desktop ===================================================*/

@media screen and (min-width: 1158px) {
  /*==============================================================*/
  /*----------- COMMON STYLES -------------*/
  .container {
    padding-left: 15px;
    padding-right: 15px;

    max-width: 1158px;
  }
  .section-title {
  }

  .item-title {
  }

  .item-text {
  }

  .is-hidden {
  }

  /*============================================================================*/
  /*----------- HEADER --------------------*/
  .head {
    max-width: 100%;
  }
  .head > .container {
    max-width: 1158px;
  }
  .head-logo {
    margin-right: 76px;
  }
  .head-nav-list {
  }
  .head-address {
    align-items: center;
  }
  .head-address-list {
    flex-direction: row;
  }
  .head-address-item:not(:last-child) {
    margin-right: 40px;
  }
  .head-address-link {
    color: var(--slate, #434455);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /*============================================================================*/
  /*----------- HERO --------------------*/
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;

    max-width: 100%;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desktop-2x.jpg);
    }
  }

  .hero > .container {
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .hero-btn {
  }
  .hero-btn:hover,
  .hero-btn:focus {
  }

  /*============================================================================*/
  /*----------- FEATURES --------------------------------------*/
  .features {
    padding-top: 120px;
    padding-bottom: 120px;

    max-width: 100%;
  }
  .features > .container {
    max-width: 1158px;
  }
  .features-title {
  }
  .features-list {
  }
  .features-item {
    flex-basis: calc((100% - (3 * 24px)) / 4);
  }

  .features-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    width: 264px;
    height: 112px;

    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
  }
  .features-icon {
  }
  .features-item-title {
    margin-top: 0;
    margin-bottom: 8px;

    color: var(--navyblue, #2e2f42);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .features-item-text {
    font-weight: 400;
  }

  /*============================================================================*/
  /*----------- DOING --------------------*/

  .doing {
    display: block;
    padding-bottom: 120px;

    max-width: 100%;
  }
  .doing > .container {
    max-width: 1158px;
  }

  .doing-title {
  }

  .doing-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .doing-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  /*============================================================================*/
  /*----------- TEAM --------------------*/
  .team {
    padding-top: 120px;
    padding-bottom: 120px;

    max-width: 100%;
  }
  .team > .container {
    max-width: 1158px;
  }
  .team-title {
  }
  .team-list {
  }
  .team-item {
    flex-basis: calc((100% - (3 * 24px)) / 4);
  }
  .team-photo {
  }
  .team-item-info {
  }
  .team-item-title {
  }
  .team-item-text {
  }
  .team-icons-box {
  }
  .team-icon-item {
  }
  .team-link {
  }

  .team-icon {
  }

  .team-item:hover .team-link,
  .team-item:focus .team-link {
  }
  .team-link:focus {
  }

  /*============================================================================*/
  /*----------- CUSTOMERS --------------------------*/
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;

    max-width: 100%;
  }
  .customers > .container {
    max-width: 1158px;
  }
  .customers-icons-box {
  }
  .customers-box {
    flex-basis: calc((100% - (5 * 24px)) / 6);
  }
  .customers-link {
  }
  .customer-icon {
  }
  .customers-link:hover,
  .customers-link:focus {
  }
  .customers-link:hover .customer-icon,
  .customers-link:focus .customer-icon {
  }

  /*============================================================================*/
  /*----------- FOOTER --------------------------*/
  .foot {
    padding-top: 100px;
    padding-bottom: 100px;

    max-width: 100%;
  }

  .foot > .container {
    max-width: 1158px;
    flex-wrap: nowrap;
    row-gap: 0;
    column-gap: 0;
  }

  .foot-logo-box {
    margin-right: 120px;
  }
  .foot-logo-link {
  }
  .foot-text {
  }

  .foot-social-box {
  }
  .foot-social-text {
  }
  .foot-social-list {
  }

  .social-item-link {
  }
  .social-icon {
  }
  .social-item-link:hover,
  .social-item-link:focus {
  }
  .foot-form-box {
    margin-left: auto;
  }
  .foot-form-topic {
  }

  .foot-form {
  }

  .foot-form-input {
  }

  .foot-form-input::placeholder {
  }

  .foot-form-btn {
  }

  .foot-form-btn:hover,
  .foot-form-btn:focus {
  }

  .foot-icon-plane {
  }
}
