/*===428 mobile===================================================*/

@media screen and (min-width: 428px) {
  /*============================================================================*/
  /*----------- COMMON STYLES -------------*/
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .section-title {
  }

  .item-title {
  }

  .item-text {
  }

  .is-hidden {
  }

  /*============================================================================*/
  /*----------- HEADER --------------------*/
  .head {
    max-width: 100%;
  }
  .head > .container {
    max-width: 426px;
  }

  /*-------- MOB MENU -------------------------------------*/
  .mobmenu {
    max-width: 100%;
  }

  .head-address {
  }

  .mobmenu-tel-link {
    font-size: 36px;
  }

  /*============================================================================*/
  /*----------- HERO --------------------*/
  .hero {
    max-width: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-mobile-2x.jpg);
    }
  }
  .hero > .container {
  }
  .hero-title {
  }
  .hero-btn {
  }
  .hero-btn:hover,
  .hero-btn:focus {
  }

  /*============================================================================*/
  /*----------- FEATURES --------------------------------------*/
  .features {
    max-width: 100%;
  }
  .features > .container {
    max-width: 426px;
  }
  .features-title {
  }
  .features-list {
  }
  .features-item {
  }

  .features-icon-box {
  }
  .features-icon {
  }
  .features-item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
  }
  .features-item-text {
  }

  /*============================================================================*/
  /*----------- DOING --------------------*/

  /*============================================================================*/
  /*----------- TEAM --------------------*/
  .team {
    max-width: 100%;
  }
  .team > .container {
    max-width: 294px;
  }
  .team-title {
  }
  .team-list {
  }
  .team-item {
  }
  .team-photo {
  }
  .team-item-info {
  }
  .team-item-title {
    text-align: center;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .team-item-text {
  }
  .team-icons-box {
  }
  .team-icon-item {
  }
  .team-link {
    /* width: 40px;
    height: 40px; */
  }

  .team-icon {
  }

  .team-item:hover .team-link,
  .team-item:focus .team-link {
  }
  .team-link:focus {
  }

  /*============================================================================*/
  /*----------- CUSTOMERS --------------------------*/
  .customers {
    max-width: 100%;
  }
  .customers > .container {
    max-width: 426px;
  }
  .customers-icons-box {
  }
  .customers-box {
  }
  .customers-link {
  }
  .customer-icon {
  }
  .customers-link:hover,
  .customers-link:focus {
  }
  .customers-link:hover .customer-icon,
  .customers-link:focus .customer-icon {
  }
  /*============================================================================*/
  /*----------- FOOTER --------------------------*/
  .foot {
    max-width: 100%;
  }

  .foot > .container {
  }

  .foot-logo-box {
  }
  .foot-logo-link {
  }
  .foot-text {
  }
  .foot-social-box {
  }
  .foot-social-text {
  }
  .foot-social-list {
  }

  .social-item-link {
  }
  .social-icon {
  }
  .social-item-link:hover,
  .social-item-link:focus {
  }
  .foot-form-box {
  }
  .foot-form-topic {
  }

  .foot-form {
  }

  .foot-form-input {
  }

  .foot-form-input::placeholder {
  }

  .foot-form-btn {
  }

  .foot-form-btn:hover,
  .foot-form-btn:focus {
  }

  .foot-icon-plane {
  }
  /*=========================================================*/
  /*=================== MODAL ===============================*/
  .modal {
    width: 392px;
  }
}
