:root {
  --blue-font: #0a224a;
  --light-blue: #f7faff;
  --grey: #d9d9d9;
}

/*----------- DEFAULTS --------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: var(--blue-font, #0a224a);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
